---
import Header from "../components/Header";
import Button from "../components/Button";
import GradientCanva from "../components/GradientCanva";
import LogoGrid from "../Layout/LogoGrid";
import Heading from "../components/Textuals/Heading";
import Paragraph from "../components/Textuals/Paragraph";
import ColorText from "../components/Textuals/ColorText";
import TerminalFigure from "../Figures/Terminal";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="src/styles/main.css" />

    <style>
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    </style></head
  >

  <body class="mx-4 bg-main">
    <div class="border-x border-[rgb(236,236,238)]">
      <section id="hero" class="bg-red-500 px-4 mb-section">
        <Header />
        <div class="mt-12 flex flex-col gap-8 light-theme">
          <div class="relative">
            <h1
              class="text-[calc(45*1px+(78-50)*(100vw-375*1px)/(600-375))] text-header-color font-bold leading-[1.04] -z-10"
            >
              Payments infrastructure for the internet
            </h1>
            <p
              class="text-[calc(45*1px+(78-50)*(100vw-375*1px)/(600-375))] text-header-color opacity-90 font-bold leading-[1.04] z-10 mix-blend-color-burn top-0 left-0 absolute"
              aria-hidden="true"
            >
              Payments infrastructure for the internet
            </p>
          </div>
          <GradientCanva client:load />
          <Paragraph>
            Millions of companies of all sizes use Stripe online and in person
            to accept payments, send payouts, automate financial processes, and
            ultimately grow revenue.
          </Paragraph>
          <div class="flex">
            <Button type="primary">Start now</Button>
            <Button type="secondary">Contact sales</Button>
          </div>
        </div>
      </section>
      <section class="pb-section" id="clients">
        <LogoGrid />
      </section>

      <section class="gray-theme pt-section bg-main-bg px-4">
        <div class="flex flex-col gap-8 pb-14">
          <div class="flex gap-6 flex-col">
            <Paragraph><ColorText>Unified platform</ColorText></Paragraph>
            <Heading>A fully integrated suite of payments products</Heading>
          </div>
          <div class="flex gap-8 flex-col">
            <Paragraph>
              We bring together everything that’s required to build websites and
              apps that accept payments and send payouts globally. Stripe’s
              products power payments for <ColorText>
                online and in-person retailers<span class="text-main-content"
                  >,</span
                >
              </ColorText>
              <ColorText>
                subscriptions businesses <span class="text-main-content">,</span
                >
              </ColorText>
              <ColorText>
                software platforms and marketplaces<span
                  class="text-main-content">,</span
                >
              </ColorText> and everything in between.
            </Paragraph>
            <Paragraph>
              We also help companies <ColorText>
                beat fraud<span class="text-main-content">,</span>
              </ColorText>
              <ColorText>
                send invoices<span class="text-main-content">,</span>
              </ColorText>
              <ColorText>
                issue virtual and physical cards<span class="text-main-content"
                  >,</span
                >
              </ColorText>
              <ColorText>
                reduce friction at checkout <span class="text-main-content"
                  >,</span
                >
              </ColorText>
              <ColorText>
                get financing<span class="text-main-content">,</span>
              </ColorText>
              <ColorText>manage business spend</ColorText> and much more.
            </Paragraph>
          </div>
          <Button type="primary">Start with payments</Button>
          <TerminalFigure />
        </div>
      </section>
    </div>

    <main></main>
  </body>
</html>
